In [40]:
import pandas as pd
df = pd.read_excel('../z20_data/20122022_출생.xlsx',skiprows=2,index_col=0,usecols='B:M')
df.index.name='목록'
df.head(5)

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
목록,,,,,,,,,,,
출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778
사망자수(명),"267,221","266,257","267,692","275,895","280,827","285,534","298,820","295,110","304,948","317,680","372,939"
조사망률(인구1천명당 명),5.3,5.3,5.3,5.4,5.5,5.6,5.8,5.7,5.9,6.2,7.3

In [41]:
import pandas as pd
df = pd.read_excel('../z20_data/20122022_출생.xlsx',skiprows=2,index_col=0,usecols='B:M')


# 컬럼을 추가
df['합계'] = 0
# 위치 지정해서 데이터를 입력하면 수정
df.iloc[0,-1] = df.iloc[0].sum()

c:\Python312\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

TypeError: can only concatenate str (not "numpy.int64") to str

In [8]:
df.index.name = '목록'

In [9]:
df.head(3)

,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
목록,,,,,,,,,,,
출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186"
조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.3,5.1,4.9
합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.837,0.808,0.778

In [12]:
df.iloc[0]=df.iloc[0].str.replace(",","").astype(int)

df

AttributeError: Can only use .str accessor with string values!

In [20]:
import pandas as pd
df = pd.read_excel('../z20_data/score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래  구로고  197   90    5  100  95  85      python
2번    강태원  구로고  184   40   35   50  55  25        Java
3번    강호림  구로고  168   80   75   70  80  75  Javascript
4번    김수찬  구로고  187   40   60   70  75  80         NaN
5번    김재욱  구로고  188   15   20   10  35  10         NaN
6번    박동현  구로고  202   80  100   95  85  80           C
7번    박혜정  단지고  188   55   65   45  40  35      PYTHON
8번    승근열  단지고  190  100   85   90  95  95          C#

In [28]:
df['국어']=df['국어'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      7 non-null      float64
 4   영어      6 non-null      float64
 5   수학      7 non-null      float64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
 9   총합      5 non-null      float64
dtypes: float64(4), int64(3), object(3)
memory usage: 1004.0+ bytes

In [24]:
df

       이름   학교    키     국어     영어     수학  과학  사회        SW특기  총합
지원번호
1번    강나래  구로고  197   90.0    5.0  100.0  95  85      python   0
2번    강태원  구로고  184   40.0   35.0   50.0  55  25        Java   0
3번    강호림  구로고  168   80.0    NaN   70.0  80  75  Javascript   0
4번    김수찬  구로고  187   40.0   60.0    NaN  75  80         NaN   0
5번    김재욱  구로고  188    NaN    NaN   10.0  35  10         NaN   0
6번    박동현  구로고  202   80.0  100.0   95.0  85  80           C   0
7번    박혜정  단지고  188   55.0   65.0   45.0  40  35      PYTHON   0
8번    승근열  단지고  190  100.0   85.0   90.0  95  95          C#   0

In [21]:
import numpy as np
df.loc['3번','영어']=np.nan
df.loc['4번','수학']=np.nan
df.loc['5번',['국어','영어']]=np.nan

In [29]:
df['총합']=0
df['총합']=df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['총합'].sum()

1725.0

In [26]:
df.fillna(0,inplace=True)

       이름   학교    키     국어     영어     수학  과학  사회        SW특기     총합
지원번호
1번    강나래  구로고  197   90.0    5.0  100.0  95  85      python  375.0
2번    강태원  구로고  184   40.0   35.0   50.0  55  25        Java  205.0
3번    강호림  구로고  168   80.0    0.0   70.0  80  75  Javascript    0.0
4번    김수찬  구로고  187   40.0   60.0    0.0  75  80           0    0.0
5번    김재욱  구로고  188    0.0    0.0   10.0  35  10           0    0.0
6번    박동현  구로고  202   80.0  100.0   95.0  85  80           C  440.0
7번    박혜정  단지고  188   55.0   65.0   45.0  40  35      PYTHON  240.0
8번    승근열  단지고  190  100.0   85.0   90.0  95  95          C#  465.0

In [31]:
df['결과']='불합격'
df

       이름   학교    키     국어     영어     수학  과학  사회        SW특기     총합   결과
지원번호
1번    강나래  구로고  197   90.0    5.0  100.0  95  85      python  375.0  불합격
2번    강태원  구로고  184   40.0   35.0   50.0  55  25        Java  205.0  불합격
3번    강호림  구로고  168   80.0    NaN   70.0  80  75  Javascript    NaN  불합격
4번    김수찬  구로고  187   40.0   60.0    NaN  75  80         NaN    NaN  불합격
5번    김재욱  구로고  188    NaN    NaN   10.0  35  10         NaN    NaN  불합격
6번    박동현  구로고  202   80.0  100.0   95.0  85  80           C  440.0  불합격
7번    박혜정  단지고  188   55.0   65.0   45.0  40  35      PYTHON  240.0  불합격
8번    승근열  단지고  190  100.0   85.0   90.0  95  95          C#  465.0  불합격

In [37]:
#총합 300 이상이면 합격,불합격
df.loc[df['총합']>300,'결과']='합격'
#400점 이상학생은 우수 
df.loc[df['총합']>400,'결과']='우수'
df

KeyError: '총합'

In [38]:
#총합,결과 사회 뒤쪽에 옮겨서 출력
cols=list(df.columns)
df=df[cols[0:8]+cols[9:]+[cols[8]]]
df

,2012,2013,2014,2015,2016,2017,2018,2019,2021,2022,합계,2020
출생아수(명),"484,550","436,455","435,435","438,420","406,243","357,771","326,822","302,676","260,562","249,186",0,"272,337"
조출생률(인구1천명당 명),9.6,8.6,8.6,8.6,7.9,7.0,6.4,5.9,5.1,4.9,0,5.3
합계출산율(가임여성1명당 명),1.297,1.187,1.205,1.239,1.172,1.052,0.977,0.918,0.808,0.778,0,0.837
사망자수(명),"267,221","266,257","267,692","275,895","280,827","285,534","298,820","295,110","317,680","372,939",0,"304,948"
조사망률(인구1천명당 명),5.3,5.3,5.3,5.4,5.5,5.6,5.8,5.7,6.2,7.3,0,5.9
전체(년),80.90,81.40,81.80,82.10,82.40,82.70,82.70,83.30,83.60,82.70,0,83.50
남자(년),77.60,78.10,78.60,79.00,79.30,79.70,79.70,80.30,80.60,79.90,0,80.50
여자(년),84.20,84.60,85.00,85.20,85.40,85.70,85.70,86.30,86.60,85.60,0,86.50
"101003호, 인구동향조사",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
"* 기대수명(Life expectancy at birth): 0세 출생자가 향후 생존할 것으로 기대되는 평균생존년수로서,“0세의 기대여명”을 말함.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN